node_modules/
.next/
.env*
!.env.example
*.tsbuildinfo
public/*
!public/Pikachu.glb
!public/lebron_james.glb
!public/keanu_reeves.glb
!public/dog-animated.glb
!public/lebron.glb
!public/keanu.glb
!public/lebron-animated.glb
!public/keanu-animated.glb
!public/university-study-lounge.collision.json
work/__pycache__/
